* {
  box-sizing: border-box;
}

.container-one {
  display: flex;
  justify-content: space-between;
}

.container-two {
  display: flex;
} 

.box {
  border: 1px solid black;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 20px;
  background-color: red;
  border-radius: 30px;
  border: 2px solid gray;
}

.toggle:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  transition: all 0.5s;
}

.checkbox:checked + .toggle::after {
  left: 32px;
}


.checkbox:checked + .toggle {
  background-color: green;
}

.checkbox {
  display: none;
}

