@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 32px;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.container-one {
  display: flex;
  justify-content: space-between;
}

.container-two {
  display: flex;
  column-gap: 24px;
}

.container-three {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.overview-row-two {
  display: flex;
}

.overview-row-three {
  display: flex;
}

.section {
  border: 1px solid black;
}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.box-one, .box-two {
  border-top: 2px solid blue;
}

.box-three {
  border-top: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

.box-four {
  border-top: 2px solid red;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 20px;
  background-color: red;
  border-radius: 30px;
  border: 2px solid gray;
}

.toggle:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  transition: all 0.5s;
}

.checkbox:checked+.toggle::after {
  left: 32px;
}


.checkbox:checked+.toggle {
  background-color: green;
}

.checkbox {
  display: none;
}

.overview-row-two, .overview-row-three {
  column-gap: 16px;
}